<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>HomePage</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Novel Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://wa.me/089521140401">Whatsapp</a>
                        <a class="dropdown-item" href="https://www.instagram.com/bhara_nt">Instagram</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="jumbotron">

    </div>




    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="image/bapak.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Sabtu bersama Bapak</h5>
                <p class="card-text">Berawal dari keluarga kecil seorang ayah bernama Gunawan Garnida yang divonis sakit....</p>
                <a href="#" class="btn btn-primary">Lihat Produk</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="image/diam.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Cinta dalam Diam</h5>
                <p class="card-text">Seindah cinta yang dimiliki oleh Ali Dan Fatimah. Mereka menyimpan cinta mereka dalam diam....</p>
                <a href="#" class="btn btn-primary">Lihat Produk</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="image/rentang.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Rentang Kisah</h5>
                <p class="card-text">Novel ini menceritakan perjalanan hidupnya dari mulai SMA hingga sekarang....</p>
                <a href="#" class="btn btn-primary">Lihat Produk</a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="image/dilan.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Dilan 1990</h5>
                <p class="card-text">Dia adalah Dilanku Tahun 1990 edisi 1 berwarna biru muda dengan tokoh Dilan dan....</p>
                <a href="#" class="btn btn-primary">Lihat Produk</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="image/milea.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Milea : Suara dari Dilan</h5>
                <p class="card-text">Mengambil sudut pandang dari Dilan, Novel ini menceritakan kisah cinta Milea.... </p>
                <a href="#" class="btn btn-primary">Lihat Produk</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="image/menara.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Negeri 5 Menara</h5>
                <p class="card-text">Novel ini dimulai dari lima sahabat yang sedang mondok di sebuah pesantren...</p>
                <a href="#" class="btn btn-primary">Lihat Produk</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="containe">
            <small>Copyright 2020 - Bhara. All Right Reserved.</small>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>